.dropdown{
  padding: 10px 17px;
  border-radius: 7px;
  cursor: pointer;
  width: 300px;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);

  @media screen and (max-width: 400px) {
    width: 70vw;
  }
}